In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [69]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df = pd.concat([df_train,df_test])

In [70]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [79]:
from statistics import mean


df_zone = df[['MSZoning','Neighborhood','SalePrice']].groupby(['MSZoning','Neighborhood']).mean()
mszone_list = []
nbhd_list = []
saleprice_list = []
for mszone in df_train['MSZoning'].drop_duplicates():
    df_1 = df_train[df_train['MSZoning']==mszone]
    for nbhd in df_1['Neighborhood'].drop_duplicates():
        df_2 = df_1[df_1['Neighborhood']==nbhd]
        mszone_list.append(mszone)
        nbhd_list.append(nbhd)
        saleprice_list.append(mean(list(df_2['SalePrice'])))
data = {'MSZoning':mszone_list,'Neighborhood':nbhd_list,'SalePrice_Mean':saleprice_list}
df_new = pd.DataFrame(data)
df_new = pd.merge(df_new,df_train[['MSZoning','SalePrice']].groupby(['MSZoning']).mean(),how='inner',on=['MSZoning'])
df_new = pd.merge(df_new,df_train[['Neighborhood','SalePrice']].groupby(['Neighborhood']).mean(),how='inner',on=['Neighborhood'])
df_new.columns = ['MSZoning','Neighborhood','SalePrice_Mean','SalePrice_Mean_MSZ','SalePrice_Mean_nbhd']
df_new

,MSZoning,Neighborhood,SalePrice_Mean,SalePrice_Mean_MSZ,SalePrice_Mean_nbhd
0,RL,CollgCr,201858.328571,191004.994787,197965.773333
1,RM,CollgCr,143470.000000,126316.830275,197965.773333
2,RL,Veenker,238772.727273,191004.994787,238772.727273
3,RL,Crawfor,207594.804348,191004.994787,210624.725490
4,RM,Crawfor,300833.333333,126316.830275,210624.725490
5,RH,Crawfor,145000.000000,131558.375000,210624.725490
6,RL,NoRidge,335295.317073,191004.994787,335295.317073
7,RL,Mitchel,154691.727273,191004.994787,156270.122449
8,RM,Mitchel,170160.000000,126316.830275,156270.122449
9,RL,Somerst,260559.619048,191004.994787,225379.837209
10,FV,Somerst,214014.061538,214014.061538,225379.837209
11,RL,NWAmes,189050.068493,191004.994787,189050.068493
12,RL,BrkSide,133431.250000,191004.994787,124834.051724
13,RM,BrkSide,116810.000000,126316.830275,124834.051724
14,RL,Sawyer,137301.277778,191004.994787,136793.135135
15,RM,Sawyer,118500.000000,126316.830275,136793.135135
16,RL,NridgHt,317708.394737,191004.994787,316270.623377
17,RM,NridgHt,207000.000000,126316.830275,316270.623377
18,RL,NAmes,145747.053812,191004.994787,145847.080000
19,RH,NAmes,157000.000000,131558.375000,145847.080000
20,RL,SawyerW,194035.037037,191004.994787,186555.796610
21,RH,SawyerW,105780.000000,131558.375000,186555.796610
22,RL,Edwards,128209.666667,191004.994787,128219.700000
23,RM,Edwards,137562.500000,126316.830275,128219.700000
24,RH,Edwards,91300.000000,131558.375000,128219.700000
25,RL,Timber,242247.447368,191004.994787,242247.447368
26,RL,Gilbert,192854.506329,191004.994787,192854.506329
27,RL,StoneBr,310499.000000,191004.994787,310499.000000
28,RL,ClearCr,212565.428571,191004.994787,212565.428571
29,RL,NPkVill,142694.444444,191004.994787,142694.444444
30,RL,OldTown,114701.764706,191004.994787,128225.300885
31,RM,OldTown,130585.568421,126316.830275,128225.300885
32,C (all),OldTown,133900.000000,74528.000000,128225.300885
33,RL,Blmngtn,195879.062500,191004.994787,194870.882353
34,RM,Blmngtn,178740.000000,126316.830275,194870.882353
35,RL,SWISU,138767.500000,191004.994787,142591.360000
36,RH,SWISU,157886.800000,131558.375000,142591.360000
37,RM,IDOTRR,110471.428571,126316.830275,100123.783784
38,C (all),IDOTRR,67931.111111,74528.000000,100123.783784
39,RM,MeadowV,98576.470588,126316.830275,98576.470588
40,RM,BrDale,104493.750000,126316.830275,104493.750000
41,RM,Blueste,137500.000000,126316.830275,137500.000000

In [36]:
df_na = df.drop(['MSSubClass',
'LotFrontage',
'LotArea',
'OverallQual',
'OverallCond',
'YearBuilt',
'YearRemodAdd',
'MasVnrArea',
'BsmtFinSF1',
'BsmtFinSF2',
'BsmtUnfSF',
'TotalBsmtSF',
'1stFlrSF',
'2ndFlrSF',
'LowQualFinSF',
'GrLivArea',
'BsmtFullBath',
'BsmtHalfBath',
'FullBath',
'HalfBath',
'BedroomAbvGr',
'KitchenAbvGr',
'TotRmsAbvGrd',
'Fireplaces',
'GarageYrBlt',
'GarageCars',
'GarageArea',
'WoodDeckSF',
'OpenPorchSF',
'EnclosedPorch',
'3SsnPorch',
'ScreenPorch',
'PoolArea',
'MiscVal',
'MoSold',
'YrSold'
], axis = 1)

df_n = df[['MSSubClass',
'LotFrontage',
'LotArea',
'OverallQual',
'OverallCond',
'YearBuilt',
'YearRemodAdd',
'MasVnrArea',
'BsmtFinSF1',
'BsmtFinSF2',
'BsmtUnfSF',
'TotalBsmtSF',
'1stFlrSF',
'2ndFlrSF',
'LowQualFinSF',
'GrLivArea',
'BsmtFullBath',
'BsmtHalfBath',
'FullBath',
'HalfBath',
'BedroomAbvGr',
'KitchenAbvGr',
'TotRmsAbvGrd',
'Fireplaces',
'GarageYrBlt',
'GarageCars',
'GarageArea',
'WoodDeckSF',
'OpenPorchSF',
'EnclosedPorch',
'3SsnPorch',
'ScreenPorch',
'PoolArea',
'MiscVal',
'MoSold',
'YrSold',
'SalePrice'
]]

In [20]:
df_MSZoning = pd.get_dummies(df['MSZoning'])
df_street =  pd.get_dummies(df['Street'])
df_alley = pd.get_dummies(df['Alley'])
df_condit1 = pd.get_dummies(df['Condition1'])
df_condit2 = pd.get_dummies(df['Condition2'])
df_BldgType = pd.get_dummies(df['BldgType'])
df_HouseStyle = pd.get_dummies(df['HouseStyle'])
df_RoofStyle = pd.get_dummies(df['RoofStyle'])
df_RoofMatl = pd.get_dummies(df['RoofMatl'])


E_list = []
G_list = []
W_list = []
S_list = []
for untilities in df['Utilities']:
    if untilities == 'AllPub':
        E_list.append(1)
        G_list.append(1)
        W_list.append(1)
        S_list.append(1)
    elif untilities == 'NoSewr':
        E_list.append(1)
        G_list.append(1)
        W_list.append(1)
        S_list.append(0)
    elif untilities == 'NoSeWa':       
        E_list.append(1)
        G_list.append(1)
        W_list.append(0)
        S_list.append(0)
    else:
        E_list.append(1)
        G_list.append(0)
        W_list.append(0)
        S_list.append(0)
df['Electricity'] = E_list
df['Gas'] = G_list
df['Water'] = W_list
df['Septic_Tank'] =S_list

In [ ]:
df_new

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,C (all),FV,RH,RL,RM
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,2,2008,WD,Normal,208500.0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,2,2008,WD,Normal,208500.0,0,0,1,0,0
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,6,2010,WD,Normal,NaN,0,0,0,1,0
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,6,2010,WD,Normal,NaN,0,0,1,0,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,5,2007,WD,Normal,181500.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,4,2010,WD,Normal,142125.0,0,0,0,1,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,4,2010,WD,Normal,142125.0,0,0,0,1,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,11,2006,WD,Normal,NaN,0,0,0,1,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,11,2006,WD,Normal,NaN,0,0,0,1,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,6,2008,WD,Normal,147500.0,0,0,0,1,0